<launch>
    <!-- Load World -->
    <!-- simple slope -->
    <arg name="world_name" default="$(find skid4wd_description)/worlds/slope_world.world"/>
    <!-- complex lawn -->
    <!-- <arg name="world_name" default="$(find skid4wd_description)/worlds/lawn_world.world"/> -->

    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
    </include>

    <!-- Spawn URDF Model -->
    <include file="$(find skid4wd_description)/launch/spawn.launch"/>

    <!-- Spawn Controllers -->
    <include file="$(find skid4wd_description)/launch/controller.launch"/>

    <!-- Create TF transforms from /map to /base_link -->
    <node name="map2baselink" pkg="skid4wd_description" type="odom_process.py" output="screen"/>

    <!-- Launch Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find skid4wd_description)/config/skid4wd_orabmap_rviz.rviz" />

     <!-- Convert joint states to TF transforms for rviz -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/skid4wd/joint_states" />
    </node>

</launch>