<?xml version="1.0"?>
<launch>
    <arg name="x" default="-4.0"/>
    <arg name="y" default="-4.0"/>
    <arg name="z" default="0.2"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="1.5708"/> 
    <arg name="map_name" default="hill"/>

    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find carsim)/worlds/map_$(arg map_name).world"/>
        <arg name="paused" value="false"/>
    </include>

    <group ns="skid4wd">
        <!-- 机器人描述的参数 -->
        <param name="robot_description" command="xacro $(find skid4wd_description)/urdf/skid4wd.xacro"/>

        <!-- Spawn 模型到 Gazebo -->
        <node name="ski4wd_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
              args="-urdf -param robot_description -model skid4wd -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
    </group>

    <!-- Spawn Controllers -->
    <include file="$(find skid4wd_description)/launch/controller.launch"/>

    <!-- Create TF transforms from /map to /base_link -->
    <node name="map2baselink" pkg="skid4wd_description" type="odom_process.py" output="screen"/>

</launch>
