<launch>

    <arg name="odom_topic" value="/willand/gazebo_odom" />
    <arg name="cmd_topic" value="/willand/drive_controller/cmd_vel" />
    <arg name="traj_topic" value="/mpc/traj_path" />
    <arg name="map_name" default="hill" />

    <!-- Load ros parameters -->
    <rosparam command="load" file="$(find plan_manager)/params/run_hill.yaml" />

    <!-- Spawn URDF Model -->
    <include file="$(find willand_description)/launch/spawn_uneven.launch"/>

    <!-- Launch Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find willand_description)/config/willand_uneven_rviz.rviz" />

     <!-- Convert joint states to TF transforms for rviz -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/willand/joint_states" />
    </node>

    <node pkg="plan_manager" name="manager_node" type="manager_node" output="screen">
        <param name="uneven_map/map_pcd" type="string" value="$(find uneven_map)/maps/$(arg map_name).pcd" />
        <param name="uneven_map/map_file" type="string" value="$(find uneven_map)/maps/$(arg map_name).map" />
        <remap from ="~cmd" to="$(arg cmd_topic)"/>
        <remap from="~odom" to="$(arg odom_topic)"/>
        <remap from="~traj" to="$(arg traj_topic)"/>
    </node>

</launch>